@import "./node_modules/normalize.css/normalize.css";
html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --main-bg-color: #ffffff;
  --secondary-bg-color: #eaeaea;
  --third-bg-color: #f6f6f6;
  --main-text-color: #101010;
  --secondary-text-color: #353535;
  --primary-icon-color: #9356dc;
}

@keyframes colorChange {
  0% {
    background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  }
  20% {
    background: linear-gradient(0deg, rgba(147, 86, 220, 0.95) 0%, rgba(255, 121, 218, 0.95) 100%);
  }
  40% {
    background: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
  }
  60% {
    background: linear-gradient(0deg, rgba(147, 86, 220, 0.85) 0%, rgba(255, 121, 218, 0.85) 100%);
  }
  80% {
    background: linear-gradient(0deg, rgba(147, 86, 220, 0.8) 0%, rgba(255, 121, 218, 0.8) 100%);
  }
  100% {
    background: linear-gradient(0deg, rgba(147, 86, 220, 0.75) 0%, rgba(255, 121, 218, 0.75) 100%);
  }
}
@keyframes revertColorChange {
  0% {
    background: linear-gradient(0deg, rgba(147, 86, 220, 0.75) 0%, rgba(255, 121, 218, 0.75) 100%);
  }
  20% {
    background: linear-gradient(0deg, rgba(147, 86, 220, 0.8) 0%, rgba(255, 121, 218, 0.8) 100%);
  }
  40% {
    background: linear-gradient(0deg, rgba(147, 86, 220, 0.85) 0%, rgba(255, 121, 218, 0.85) 100%);
  }
  60% {
    background: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
  }
  80% {
    background: linear-gradient(0deg, rgba(147, 86, 220, 0.95) 0%, rgba(255, 121, 218, 0.95) 100%);
  }
  100% {
    background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  }
}
@keyframes fadeIn {
  0% {
    color: linear-gradient(0deg, rgba(147, 86, 220, 0.75) 0%, rgba(255, 121, 218, 0.75) 100%);
    opacity: 0;
  }
  20% {
    color: linear-gradient(0deg, rgba(147, 86, 220, 0.75) 0%, rgba(255, 121, 218, 0.75) 100%);
    opacity: 0.2;
  }
  40% {
    color: linear-gradient(0deg, rgba(147, 86, 220, 0.75) 0%, rgba(255, 121, 218, 0.75) 100%);
    opacity: 0.4;
  }
  60% {
    color: linear-gradient(0deg, rgba(147, 86, 220, 0.75) 0%, rgba(255, 121, 218, 0.75) 100%);
    opacity: 0.6;
  }
  80% {
    color: linear-gradient(0deg, rgba(147, 86, 220, 0.75) 0%, rgba(255, 121, 218, 0.75) 100%);
    opacity: 0.8;
  }
  100% {
    color: linear-gradient(0deg, rgba(147, 86, 220, 0.75) 0%, rgba(255, 121, 218, 0.75) 100%);
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
.home .main-container {
  margin: 0;
  padding: 0;
  font-family: roboto;
  /****** Section Explorer ***********/
  /****** Section Fonctionnement ***********/
  /****** Section Restaurant ***********/
  /****** Section Footer ***********/
}
.home .main-container .header__principal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0 15px 0;
  background-color: var(--main-bg-color);
  filter: drop-shadow(0px 3px 2px rgba(128, 128, 128, 0.3));
  /* device desktop (more/equal than 1024px) */
}
.home .main-container .header__principal .logo {
  width: 200px;
}
@media (min-width: 1024px) {
  .home .main-container .header__principal {
    padding-bottom: 25px;
  }
}
.home .main-container .header__secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg-color);
  padding: 15px 0;
}
.home .main-container .header__secondary .svg-inline--fa {
  color: var(--secondary-text-color);
  margin-right: 15px;
  font-size: 16px;
}
.home .main-container .header__secondary .input {
  margin-left: 0px;
  display: flex;
  justify-content: center;
  width: 110px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
}
.home .main-container .explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--third-bg-color);
  padding-bottom: 50px;
  /* device desktop (more/equal than 1024px) */
}
.home .main-container .explorer__title {
  font-size: 24px;
  color: #000000;
  width: 275px;
  margin-bottom: 15px;
}
.home .main-container .explorer__text-info {
  width: 85%;
  font-size: 18px;
  font-weight: 300;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
  margin-top: 0px;
}
.home .main-container .explorer__a-button .button {
  cursor: pointer;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 13px 18px;
}
.home .main-container .explorer__a-button .button:hover {
  animation: colorChange 0.2s ease-in-out;
  animation-fill-mode: forwards;
}
.home .main-container .explorer__a-button .button:not(:hover) {
  animation: revertColorChange 0.2s ease-in-out;
}
@media (min-width: 1024px) {
  .home .main-container .explorer__title {
    width: auto;
  }
}
.home .main-container .fonctionnement {
  margin: 0 20px;
  padding: 20px 0px 40px;
  /* device desktop (more/equal than 1024px) */
}
.home .main-container .fonctionnement .title {
  font-size: 24px;
  color: #000000;
}
.home .main-container .fonctionnement .card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home .main-container .fonctionnement .card-list .card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: var(--third-bg-color);
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
  border-radius: 20px;
}
.home .main-container .fonctionnement .card-list .card__numero {
  position: absolute;
  left: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-icon-color);
  color: var(--main-bg-color);
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.home .main-container .fonctionnement .card-list .card .svg-inline--fa {
  color: #7e7e7e;
  margin-left: 25px;
  margin-right: 20px;
}
.home .main-container .fonctionnement .card-list .card__card-title {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.home .main-container .fonctionnement .card-list .card:last-child .svg-inline--fa {
  color: var(--primary-icon-color);
}
@media (min-width: 1024px) {
  .home .main-container .fonctionnement {
    margin: 10px 10% 20px;
    padding-bottom: 0px;
  }
  .home .main-container .fonctionnement .title {
    margin-left: 18px;
  }
  .home .main-container .fonctionnement .card-list {
    flex-direction: row;
  }
  .home .main-container .fonctionnement .card-list .card {
    margin: 30px;
  }
}
.home .main-container .restaurant {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 45px;
  background-color: var(--secondary-bg-color);
  /* device desktop (more/equal than 1024px) */
}
.home .main-container .restaurant .title {
  font-size: 24px;
  color: #000000;
  margin-left: 20px;
  margin-bottom: 20px;
}
.home .main-container .restaurant .card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}
.home .main-container .restaurant .card-list a {
  width: 100%;
  text-decoration: none;
  list-style: none;
}
.home .main-container .restaurant .card-list .card {
  position: relative;
  height: 280px;
  margin-bottom: 20px;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 20px;
}
.home .main-container .restaurant .card-list .card__nouveau {
  position: absolute;
  right: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
  background-color: #99e2d0;
  border-radius: 2px;
}
.home .main-container .restaurant .card-list .card__images {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.home .main-container .restaurant .card-list .card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: var(--third-bg-color);
  border-radius: 0 0 15px 15px;
}
.home .main-container .restaurant .card-list .card__content .card-text {
  color: #000000;
}
.home .main-container .restaurant .card-list .card__content .card-text .title {
  font-size: 18px;
  padding: 0px;
  margin: 15px 0 0 0;
}
.home .main-container .restaurant .card-list .card__content .card-text .subtitle {
  font-size: 17px;
  font-weight: 300;
  margin-top: 5px;
}
.home .main-container .restaurant .card-list .card__content .card-icon {
  position: relative;
}
.home .main-container .restaurant .card-list .card__content .card-icon .heart-wrapper {
  z-index: 2;
}
.home .main-container .restaurant .card-list .card__content .card-icon .heart-wrapper .svg-inline--fa {
  width: 22px;
  height: 21px;
  color: var(--main-text-color);
}
.home .main-container .restaurant .card-list .card__content .card-icon .filled-heart {
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 21px;
  z-index: 1;
  opacity: 0;
}
.home .main-container .restaurant .card-list .card__content .card-icon .filled-heart .svg-inline--fa {
  width: 100%;
  height: 100%;
}
.home .main-container .restaurant .card-list .card__content .card-icon .filled-heart:hover {
  animation: fadeIn 0.2s ease-in-out forwards;
}
.home .main-container .restaurant .card-list .card__content .card-icon .filled-heart:not(:hover) {
  opacity: 0;
  animation: fadeOut 0.2s;
}
@media (min-width: 1024px) {
  .home .main-container .restaurant {
    padding: 10px 10% 0px;
  }
  .home .main-container .restaurant .card-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .home .main-container .restaurant .card-list .a-card {
    display: flex;
    width: 45%;
  }
}
.home .main-container .footer {
  background-color: #353535;
  color: var(--main-bg-color);
  padding: 20px;
  /* device desktop (more/equal than 1024px) */
}
.home .main-container .footer__title {
  font-size: 18px;
  font-family: Shrikhand;
  font-weight: 400;
  margin: 5px 0 10px 0;
}
.home .main-container .footer__global {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.home .main-container .footer__global .fa-utensils {
  width: 13px;
  height: 13px;
}
.home .main-container .footer__global .fa-handshake-angle {
  width: 13px;
  height: 13px;
}
.home .main-container .footer__global__text {
  font-weight: 500;
  margin: 5px 0px;
}
.home .main-container .footer__global__text:nth-child(2) {
  margin-left: 11px;
}
.home .main-container .footer__global__text:nth-child(1) {
  font-weight: 400;
}
@media (min-width: 1024px) {
  .home .main-container .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 40px 20% 20px 0;
  }
  .home .main-container .footer__title {
    position: absolute;
    right: 50px;
    margin-top: -5px;
  }
  .home .main-container .footer__global {
    margin: 0 15px;
  }
}

.menu-1 .main-container {
  font-family: roboto;
  /****** Section Footer ***********/
}
.menu-1 .main-container .header {
  /* Galaxy Fold (less/equal than 280px) */
  /* device desktop (more/equal than 1024px) */
}
.menu-1 .main-container .header__principal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0 15px 0;
  background-color: var(--main-bg-color);
  filter: drop-shadow(0px 3px 2px rgba(128, 128, 128, 0.3));
}
.menu-1 .main-container .header__principal .icon {
  color: var(--secondary-text-color);
  position: absolute;
  left: 25px;
}
.menu-1 .main-container .header__principal .icon .svg-inline--fa {
  height: 30px;
}
.menu-1 .main-container .header__principal .logo {
  width: 200px;
}
.menu-1 .main-container .header__secondary .images {
  height: 275px;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 280px) {
  .menu-1 .main-container .header__principal .icon {
    left: 7px;
  }
  .menu-1 .main-container .header__principal .icon .svg-inline--fa {
    height: 25px;
  }
}
@media (min-width: 1024px) {
  .menu-1 .main-container .header__principal {
    padding-bottom: 25px;
  }
}
.menu-1 .main-container .restaurant {
  position: relative;
  top: -55px;
  margin-bottom: -55px;
  padding: 15px;
  border-radius: 45px;
  background-color: var(--third-bg-color);
  /* device desktop (more/equal than 1024px) */
}
.menu-1 .main-container .restaurant__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
}
.menu-1 .main-container .restaurant__header .title {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
}
.menu-1 .main-container .restaurant__header .card-icon .svg-inline--fa {
  margin-right: 15px;
}
.menu-1 .main-container .restaurant__menu {
  margin: 0px;
}
.menu-1 .main-container .restaurant__menu .title {
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
.menu-1 .main-container .restaurant__menu .title-special {
  margin-top: 15px;
}
.menu-1 .main-container .restaurant__menu .line-bottom {
  width: 40px;
  border: 2px solid #99e2d0;
}
.menu-1 .main-container .restaurant__menu .card {
  margin: 15px 0;
  padding: 15px;
  border-radius: 15px;
  background-color: var(--main-bg-color);
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  color: #000000;
}
.menu-1 .main-container .restaurant__menu .card__title {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}
.menu-1 .main-container .restaurant__menu .card__info {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-1 .main-container .restaurant__menu .card__info .description {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 300;
}
.menu-1 .main-container .restaurant__menu .card__info .price {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
}
.menu-1 .main-container .restaurant__button {
  padding: 25px 0 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-1 .main-container .restaurant__button .btn {
  cursor: pointer;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 13px 18px;
}
.menu-1 .main-container .restaurant__button .btn:hover {
  animation: colorChange 0.2s ease-in-out;
  animation-fill-mode: forwards;
}
.menu-1 .main-container .restaurant__button .btn:not(:hover) {
  animation: revertColorChange 0.2s ease-in-out;
}
@media (min-width: 1024px) {
  .menu-1 .main-container .restaurant {
    margin: 0px 15%;
    margin-bottom: -55px;
    border-radius: 45px 45px 0 0;
  }
  .menu-1 .main-container .restaurant__header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-1 .main-container .restaurant__header .title {
    margin: 20px 25px;
  }
  .menu-1 .main-container .restaurant__menu {
    margin: 0px 20%;
  }
}
.menu-1 .main-container .footer {
  background-color: #353535;
  color: var(--main-bg-color);
  padding: 20px;
  /* device desktop (more/equal than 1024px) */
}
.menu-1 .main-container .footer__title {
  font-size: 18px;
  font-family: Shrikhand;
  font-weight: 400;
  margin: 5px 0 10px 0;
}
.menu-1 .main-container .footer__global {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.menu-1 .main-container .footer__global .fa-utensils {
  width: 13px;
  height: 13px;
}
.menu-1 .main-container .footer__global .fa-handshake-angle {
  width: 13px;
  height: 13px;
}
.menu-1 .main-container .footer__global__text {
  font-weight: 500;
  margin: 5px 0px;
}
.menu-1 .main-container .footer__global__text:nth-child(2) {
  margin-left: 11px;
}
.menu-1 .main-container .footer__global__text:nth-child(1) {
  font-weight: 400;
}
@media (min-width: 1024px) {
  .menu-1 .main-container .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 40px 20% 20px 0;
  }
  .menu-1 .main-container .footer__title {
    position: absolute;
    right: 50px;
    margin-top: -5px;
  }
  .menu-1 .main-container .footer__global {
    margin: 0 15px;
  }
}

/*# sourceMappingURL=style.css.map */
