.menu-1 .main-container {
    font-family: roboto;
    .header {
        &__principal {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 25px 0 15px 0;
            background-color: var(--main-bg-color);
            filter: drop-shadow(0px 3px 2px rgba(128, 128, 128, 0.3));
            .icon {
                color: var(--secondary-text-color);
                position: absolute;
                left: 25px;
                .svg-inline--fa {
                    height: 30px;
                }
            }
            .logo {
                width: 200px;
            }
        }
        &__secondary {
            .images {
                height: 275px;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .restaurant {
        position: relative;
        top: -55px;
        margin-bottom: -55px;
        padding: 15px;
        border-radius: 45px;
        background-color: var(--third-bg-color);
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 28px;
            .title {
                font-family: Shrikhand;
                font-size: 28px;
                font-weight: 400;
                font-style: italic;
            }
            .card-icon {
                .svg-inline--fa {
                    margin-right: 15px;
                }
            }
        }
        &__menu {
            margin: 0px;
            .title {
                margin-top: 40px;
                margin-bottom: 5px;
                font-size: 16px;
                font-weight: 300;
                text-transform: uppercase;
            }
            .title-special {
                margin-top: 15px;
            }

            .line-bottom {
                width: 40px;
                border: 2px solid #99e2d0;
            }
            .card {
                margin: 15px 0;
                padding: 15px;
                border-radius: 15px;
                background-color: var(--main-bg-color);
                filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
                color: #000000;
                &__title {
                    margin-top: 0px;
                    margin-bottom: 5px;
                    font-size: 18px;
                    font-weight: 500;
                }
                &__info {
                    font-size: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .description {
                        margin-top: 0px;
                        margin-bottom: 0px;
                        font-weight: 300;
                    }
                    .price {
                        margin-top: 0px;
                        margin-bottom: 0px;
                        font-weight: 700;
                    }
                }
            }
        }
        &__button {
            padding: 25px 0 25px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            .btn {
                @include btn;
            }
        }
    }
    /****** Section Footer ***********/
    .footer {
        background-color: #353535;
        color: var(--main-bg-color);
        padding: 20px;
        &__title {
            font-size: 18px;
            font-family: Shrikhand;
            font-weight: 400;
            margin: 5px 0 10px 0;
        }
        &__global {
            display: flex;
            align-items: center;
            font-size: 16px;
            .fa-utensils {
                width: 13px;
                height: 13px;
            }
            .fa-handshake-angle {
                width: 13px;
                height: 13px;
            }
            &__text {
                font-weight: 500;
                margin: 5px 0px;
            }
            &__text:nth-child(2) {
                margin-left: 11px;
            }
            &__text:nth-child(1) {
                font-weight: 400;
            }
        }
    }
}
