.menu .main-container {
    font-family: roboto;
    .header {
        &__principal {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 25px 0 15px 0;
            background-color: var(--main-bg-color);
            filter: drop-shadow(0px 3px 2px rgba(128, 128, 128, 0.3));
            .icon {
                color: var(--secondary-text-color);
                position: absolute;
                left: 25px;
                .svg-inline--fa {
                    height: 30px;
                }
            }
            .logo {
                width: 200px;
            }
        }
        &__secondary {
            .images {
                height: 275px;
                width: 100%;
                object-fit: cover;
            }
        }
        /* Galaxy Fold (less/equal than 280px) */
        @media (max-width: 280px) {
            &__principal {
                .icon {
                    left: 7px;
                    .svg-inline--fa {
                        height: 25px;
                    }
                }
            }
        }
        /* device desktop (more/equal than 1024px) */
        @media (min-width: 1024px) {
            &__principal {
                padding-bottom: 25px;
            }
        }
    }
    .restaurant {
        position: relative;
        top: -55px;
        margin-bottom: -55px;
        padding: 15px;
        border-radius: 45px;
        background-color: var(--third-bg-color);
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 28px;
            .title {
                font-family: Shrikhand;
                font-size: 28px;
                font-weight: 400;
                font-style: italic;
            }
            .card-icon {
                position: relative;
                .heart-wrapper {
                    z-index: 2;
                    width: 22px;
                    height: 21px;
                    path {
                        fill: var(--main-text-color);
                    }
                }
                .filled-heart {
                    position: absolute;
                    top: 5px;
                    left: 0;
                    width: 22px;
                    height: 21px;
                    z-index: 1;
                    fill: url(#monLinearGradient);
                    opacity: 0;
                }
                &:hover {
                    .heart-wrapper {
                        animation: fadeOut 0.2s forwards;
                    }
                    .filled-heart {
                        animation: fadeIn 0.2s ease-in-out forwards;
                    }
                }
                &:not(:hover) {
                    opacity: 0;
                    animation: fadeIn 0.3s ease forwards;
                    .filled-heart {
                        &:not(:hover) {
                            opacity: 0;
                            animation: fadeOut 0.3s;
                        }
                    }
                }
            }
        }
        &__menu {
            margin: 0px;
            .title {
                margin-top: 40px;
                margin-bottom: 5px;
                font-size: 16px;
                font-weight: 300;
                text-transform: uppercase;
            }
            .title-special {
                margin-top: 15px;
            }

            .line-bottom {
                width: 40px;
                border: 2px solid var(--tertiary-color);
            }

            .card {
                overflow: hidden;
                position: relative;
                display: flex;
                height: 45px;
                margin: 15px 0;
                padding: 15px;
                border-radius: 15px;
                background-color: var(--main-bg-color);
                filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
                color: #000000;
                .info {
                    display: flex;
                    flex-direction: column;
                    font-size: 15px;
                    width: 100%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    .title {
                        margin-top: 0px;
                        margin-bottom: 5px;
                        font-size: 18px;
                        font-weight: 500;
                        text-transform: none;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    .description {
                        margin-top: 0px;
                        margin-bottom: 0px;
                        font-weight: 300;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                .price {
                    font-weight: 700;
                }
                &__check {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 60px;
                    height: 100%;
                    right: -55px;
                    margin: -15px;
                    border-radius: 0 15px 15px 0;
                    color: var(--main-bg-color);
                    background-color: var(--tertiary-color);
                    .svg-inline--fa {
                        height: 25px;
                    }
                }
                &:hover {
                    .info {
                        margin-right: 35%;
                    }
                    .price {
                        animation: slide-left 0.3s ease-out forwards;
                        animation-timing-function: cubic-bezier(
                            0.16,
                            0.63,
                            0.37,
                            0.83
                        );
                    }
                    .card__check {
                        animation: slide-left 0.3s ease-out forwards;
                        animation-timing-function: cubic-bezier(
                            0.16,
                            0.63,
                            0.37,
                            0.83
                        );
                    }
                }

                &:not(:hover) {
                    .price {
                        animation: slide-right 0.3s ease-out forwards;
                        animation-timing-function: cubic-bezier(
                            0.16,
                            0.63,
                            0.37,
                            0.83
                        );
                    }
                    .card__check {
                        animation: slide-right 0.3s ease-in-out;
                        animation-timing-function: cubic-bezier(
                            0.16,
                            0.63,
                            0.37,
                            0.83
                        );
                    }
                }
                @media (min-width: 280px) {
                    height: auto;
                }
            }
        }
        &__button {
            padding: 25px 0 25px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            .btn {
                @include btn();
                &:hover {
                    animation: colorChange 0.2s ease-in-out forwards;
                }
                &:not(:hover) {
                    animation: revertColorChange 0.2s ease-in-out;
                }
            }
        }
        /* device desktop (more/equal than 1024px) */
        @media (min-width: 1024px) {
            margin: 0px 15%;
            margin-bottom: -55px;
            border-radius: 45px 45px 0 0;
            &__header {
                display: flex;
                justify-content: center;
                align-items: center;
                .title {
                    margin: 20px 25px;
                }
            }
            &__menu {
                margin: 0px 20%;
            }
        }
    }
    /****** Section Footer ***********/
    .footer {
        background-color: #353535;
        color: var(--main-bg-color);
        padding: 20px;
        &__title {
            font-size: 18px;
            font-family: Shrikhand;
            font-weight: 400;
            margin: 5px 0 10px 0;
        }
        &__global {
            display: flex;
            align-items: center;
            font-size: 16px;
            .fa-utensils {
                width: 13px;
                height: 13px;
            }
            .fa-handshake-angle {
                width: 13px;
                height: 13px;
            }
            &__text {
                font-weight: 500;
                margin: 5px 0px;
            }
            &__text:nth-child(2) {
                margin-left: 11px;
            }
            &__text:nth-child(1) {
                font-weight: 400;
            }
        }
        /* device desktop (more/equal than 1024px) */
        @media (min-width: 1024px) {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding: 40px 20% 20px 0;
            &__title {
                position: absolute;
                right: 50px;
                margin-top: -5px;
            }
            &__global {
                margin: 0 15px;
            }
        }
    }
}
