:root {
    --main-bg-color: #ffffff;
    --secondary-bg-color: #eaeaea;
    --third-bg-color: #f6f6f6;
    --main-text-color: #101010;
    --secondary-text-color: #353535;
    --primary-icon-color: #9356dc;
    --tertiary-color: #99e2d0;
}
